.btn {
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: bisque;
}

.secondary {
    background-color: aqua;
}

.navigation {
    background: white;
    padding: 1.5rem 0.75rem 1.5rem 0.75rem;
    color: #555;
    font-weight: 600;
    font-size: 13px;
    transition: 0.2s;
    width: 100%;
}

.navigation:first-of-type {
    text-align: left;
}

.navigation:hover {
    background: #efefef;
}

.userNavigation {
    background-color: #191919;
    padding: 0.65rem 0.75rem 0.65rem 0.75rem;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar {
    background: white;
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin-left: 1.5rem;
    border-bottom: 1px solid #dadada;
    color: #353535;
    text-transform: capitalize;
    font-size: 17px;
    transition: 0.2s;
    text-align: left;
}