body {
  margin: 0;
  padding: 0;
}

.container_tiles {
  margin-right: -100%;
  gap: 30px;
  height: 50vh;
  width: 100%;
  min-width: 1080px;
  border: none;
}

.tile {
  display: flex;
  flex-direction: column;
}

.h2_tile {
  display: flex;
  justify-content: center;
  background-color: grey;
  font-size: 18px;
  font-weight: bold;
}
