body {
  margin: 0;
  padding: 0;
}

.main_container {
  min-height: 300px;
  width: auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.container_tiles {
  width: 100%;
  border: none;

  position: relative;
}

.search {
  position: absolute;
  top: 40%;
}

.rentals {
  position: relative;
  font-size: 38px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
