.about {
  height: 800px;
}

.container {
  display: flex;
  gap: 30px;
}

.gallery {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
img {
  height: 10em;
  width: 14em;
}
.content {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header_about {
  height: 650px;
  background-image: url(./../../img/train_2.jpeg);
  background-position: center right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.h1_about {
  color: aliceblue;
  padding-left: 30px;
}

.h2_about {
  padding: 0 0 50px 150px;
  text-align: right;
}
