.single-equipment {
    padding: 10px;
    border-radius: 10px;
    background-color:azure; 
    cursor: pointer;
}
.equipment-ef{
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
}
.equipment-ef:hover {
    transform: scale(1.2);
    
}