.rendered-equipments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
    background-color:lightgray;
    height: auto;
}
.h1-equip {
    background-color:lightgray;
    margin: 0;
    text-align: center;
}