
.single-image {
    padding: 10px;
    border-radius: 10px;
    background-color:azure; 
}
.image-ef{
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
}
.image-ef:hover {
    transform: scale(1.2);
}