
.rendered-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
    background-color:lightgray;
}
h1 {
    background-color:lightgray;
    margin: 0;
    text-align: center;
}