.container {
  display:flex;
  justify-content: flex-start;
  align-content: stretch;
  margin:20px 20px;
  box-sizing: border-box;
}
.left{
  min-width: 20vw;
  border: 2px solid rgb(179, 176, 176,0.5);
  box-shadow: 1px 1px 20px rgba(92, 92, 247, 0.5) ;
  
}
.right{
  width:80vw;
  border: 2px solid rgb(179, 176, 176,0.5);
  box-shadow: 1px 1px 20px rgba(92, 92, 247, 0.5) ;
  overflow: hidden;
  
}